<section>
  <div class="page-header">
    <h1>Classificações</h1>
  </div>
    <div class="row" data-ng-repeat="classificador in vm.classificadors" data-ui-sref="classificadors.view({ classificadorId: classificador._id })" class="list-group-item">
      <div class="col-xs-6 col-md-3">
        <div href="#" class="thumbnail">
          <img src="{{classificador.image}}" alt="...">
          <div class="caption">
            <h3>{{classificador.name}}</h3>
            <p>{{classificador.created}}</p>
          </div>
          </a>
        </div>
      </div>
    </div>


    <!--<a data-ng-repeat="classificador in vm.classificadors" data-ui-sref="classificadors.view({ classificadorId: classificador._id })" class="list-group-item">
        <img ng-src="{{classificador.image}}" alt="vazio" class="img-thumbnail user-profile-picture">
        <h4 class="list-group-item-heading" data-ng-bind="classificador.name"></h4>
      <small class="list-group-item-text">
        Uploaded on
        <span data-ng-bind="classificador.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="classificador.user" data-ng-bind="classificador.user.displayName"></span>
        <span data-ng-if="!classificador.user">Deleted User</span>
      </small>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.classificadors.$resolved && !vm.classificadors.length">
    No Classificadors yet, why don't you <a data-ui-sref="classificadors.create">create one</a>?
  </div>-->
</section>
